<div class="drawer" #drawer>

    <ion-row>
        <ion-col size="12" class="upicon" (click)="toggleDrawer()">
            <ion-icon name="remove"></ion-icon>
        </ion-col>
    </ion-row>

    <ion-segment color="light" value="property" swipe-gesture="true" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="property" layout="icon-bottom">
            <ion-icon name="flower-outline"></ion-icon>
            <ion-label>Property</ion-label>
        </ion-segment-button>
        <ion-segment-button value="application" layout="icon-bottom">
            <ion-icon name="infinite-outline"></ion-icon>
            <ion-label>Application</ion-label>
        </ion-segment-button>
    </ion-segment>

    <!--Applicarion data-->

    <div *ngIf="value">
        <ion-row>
            <ion-col size="1.5"></ion-col>
            <ion-col>
                <div *ngFor="let x of app">
                    <p  scrollY="true">{{x}}</p>
                </div>
            </ion-col>
            <ion-col size="1.5"></ion-col>
        </ion-row>
    </div>
    <div *ngIf="details">
        <!--Property data-->
        <div *ngIf="!value">
            <ion-row>
                <ion-col size="1.5"></ion-col>
                <ion-col>
                    <div *ngFor="let x of details">
                        <p>{{x}}</p>
                    </div>
                </ion-col>
                <ion-col size="1.5"></ion-col>
            </ion-row>
        </div>
    </div>
</div>