.drawer {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    width: 100%;
    border-radius: 20px;
    bottom: calc(-77vh + env(safe-area-inset-bottom));
    height: 83vh;
    z-index: 11;
    background: rgba(245, 90, 90, 0.95);
}

.ion-text-center {
    text-align: center;
}


.content {
    margin-top: 50px;
}

.application {
    border-radius: 30px;
    height: 60px;
    width: 60px;
    --padding-start: 0px;
    --padding-end: 0px;
}

.infinity {
    font-size: 40px;
}

p {
    color: white;
}

ion-segemnt {
    margin-top: 50px;
}

ion-label ion-icon {
    color: blanchedalmond;
}