<div class="drawer" #drawer>


    <!--Application Property Icon-->
    <!-- <ion-row class="content">
        <ion-col size="1.5"></ion-col>
        <ion-col class="property">
            <ion-button  class="application ion-focused" (click)="property()">
                <ion-icon class="infinity" size="3" name="flower-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button class="application" (click)="application()">
                <ion-icon class="infinity" size="3" name="infinite-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size="6"></ion-col>
    </ion-row> -->
<br><br><br><br>
<ion-segment color="light" value="property">
    <ion-segment-button value="property" layout="icon-bottom" (click)="property()">
        <ion-icon name="flower-outline"></ion-icon>
        <ion-label>Property</ion-label>
      </ion-segment-button>
      <ion-segment-button value="application" layout="icon-bottom" (click)="application()">
        <ion-icon name="infinite-outline"></ion-icon>
        <ion-label>Application</ion-label>
      </ion-segment-button>
  </ion-segment>

    <!--Applicarion data-->
    <div *ngIf="value">
        <ion-row>
            <ion-col size="1.5"></ion-col>
            <ion-col>
                <div *ngFor="let x of app">
                    <p>{{x}}</p></div>
            </ion-col>
            <ion-col size="1.5"></ion-col>
        </ion-row>
    </div>
    <div *ngIf="details">
        <!--Property data-->
        <div *ngIf="!value">
            <ion-row *ngFor="let x of details">
                <ion-col size="1.5"></ion-col>
                <ion-col>
                    <p>{{x}}</p>
                    
                </ion-col>
                <ion-col size="1.5"></ion-col>
            </ion-row>
        </div>
    </div>

</div>