<ion-content>
  <ion-slides [options]="slideOptsOne">

    <ion-slide >
      <ion-card class="card1">
        
        <img class="img-top" src="../../assets/undraw_detailed_examination_joef.svg" />
        <ion-card-header>
          <ion-card-title class="title1">Welcome, Students</ion-card-title>
        </ion-card-header>
        <ion-card-content class="content1">
          At present there are 118 known chemical elements. About 20 percent of them do not exist in nature and are known only because they have been synthetically prepared in the laboratory.
        </ion-card-content>
        <img class="img-middle" src="../../assets/undraw_analyze_17kw.svg">
        <img class="img-down" src="../../assets/undraw_Mobile_application_mr4r.svg" />
    </ion-card>
    </ion-slide>

  

    <ion-slide>
      <ion-card class="card2">
      <img src="../../assets/undraw_science_fqhl.svg" />
      <h2>Learn uninterrupted on the go... Detailed information as precise as it can be.</h2>
      <img class="img2" src="../../assets/undraw_researching_22gp.svg">
      <ion-button class="continue" fill="clear" (click)="finish()">Start learning <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      
    </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>


<style>
  @import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
</style>