.cyso {
    margin: 20px 0px 10px;
    font-family: 'Permanent Marker';
}

body {
    overflow: hidden;
}

.search {
    margin: 22px 0px 10px;
    font-size: 25px;
    font-weight: bold;
}

.vDot {
    margin: 22px 0px 10px;
    font-size: 25px;
}

#chemical {
    font-family: 'Roboto Condensed';
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#elements {
    font-family: 'Roboto Condensed';
    font-weight: 900;
    margin-top: 0px;
    font-size: 60px;
}

.undraw{
    margin-top: 25px;
    padding-right: 10px;
}

.card1 {
    position: relative;
    margin-top: 30px;
    height: 370px;
    width: auto;
    box-shadow: 5px 5px 10px rgb(231, 64, 64);
    border-radius: 40px;
    margin-bottom: 20px;
}

.text {
    position: absolute;
    top: 200px;
    left: 5px;
    background: rgba(134, 134, 134, 0.3);
    padding: 10px;
    border-radius: 12px;
}

.text .elementSymbol {
    margin: 5px 5px 5px;
    color: #ffffff;
    font-weight: 900;
}

.bgPic {
    height: 370px;
}

.elementType {
    font-size: 15px;
    position: absolute;
    top: 265px;
    left: 20px;
    color: #ffffff;
    font-weight: 500;
}

.elementName {
    font-size: 35px;
    font-weight: 900;
    position: absolute;
    top: 280px;
    left: 20px;
    color: #ffffff;
}

.verticalrotate {
    transform: rotate(90deg);
    transform-origin: left top;
    width: 240px;
    height: 3px;
    left: 50%;
    --progress-background: red;
}

.number {
    margin: 56px 18px 0px;
    font-size: 12px;
}

.number2 {
    margin: 240px 18px 10px;
    font-size: 12px;
}

.tabIcon {
    font-size: 40px;
}

.card2 {
    border-radius: 20%;
    margin-bottom: 10px;
    height: 60px;
    width: 60px;
    color: white;
    font-weight: 300;
    --background: rgb(255, 61, 61);
    --background-activated: rgb(255, 61, 61);
    --padding-start: 0px;
    --padding-end: 0px;
    box-shadow: 5px 10px 10px rgb(170, 170, 170);
}

.selected {
    margin-bottom: 10px;
    height: 70px;
    width: 70px;
}

.card2 {
    color: white;
}

.tabIconName {
    color: rgb(255, 0, 0);
    font-weight: 550;
}

ion-footer {
    margin-top: 30px;
}

.ion-activated {
    color: cadetblue;
}



/*==================================================
                   Responsiveness
===================================================*/
/* Medium Devices (Landscape Tablets & Medium Desktops) */
@media(min-width: 992px) and (max-width: 2000px){
    .cyso{
        font-size: 50px;
    }

    #chemical{
        font-size: 90px;
    }

    #elements{
        font-size: 90px;
    }

    .search{
        font-size: 50px;
    }

    .undraw {
        height: 200px;
    }

    .card1 {
        height: 450px;
    }

    .bgPic {
        height: 450px;
    }

    .text {
        top: 260px;
    }

    .elementName {
        top: 345px;
        font-size: 45px;
    }

    .elementType {
        top: 325px;
        font-size: 25px;
    }

    .card2 {
        width: 80px;
        height: 80px;
    }

    .tabIcon {
        font-size: 60px;
    }

    .tabIconName {
        font-size: 40px;
    }
}

/* Small Devices (Portrait Tablets & Small Desktops) */
@media(min-width: 768px) and (max-width: 991px){
    .cyso{
        font-size: 40px;
    }

    #chemical{
        font-size: 80px;
    }

    #elements{
        font-size: 80px;
    }

    .search{
        font-size: 40px;
    }

    .undraw {
        height: 180px;
    }

    .card1 {
        height: 450px;
    }

    .bgPic {
        height: 450px;
    }

    .text {
        top: 260px;
    }

    .elementName {
        top: 345px;
        font-size: 45px;
    }

    .elementType {
        top: 325px;
        font-size: 25px;
    }

    .card2 {
        width: 80px;
        height: 80px;
    }

    .tabIcon {
        font-size: 40px;
    }

    .tabIconName {
        font-size: 30px;
    }
}


/* Extra Small Devices (Portrait Tablets & Landscape Phones) */
@media(min-width: 550px) and (max-width: 767px){
    .cyso{
        font-size: 30px;
    }

    #chemical{
        font-size: 60px;
    }

    #elements{
        font-size: 60px;
    }

    .search{
        font-size: 30px;
    }

    .undraw {
        height: 140px;
    }

    .card1 {
        height: 450px;
    }

    .bgPic {
        height: 450px;
    }

    .text {
        top: 260px;
    }

    .elementName {
        top: 345px;
        font-size: 45px;
    }

    .elementType {
        top: 325px;
        font-size: 25px;
    }

    .card2 {
        width: 80px;
        height: 80px;
    }

    .tabIcon {
        font-size: 40px;
    }

    .tabIconName {
        font-size: 30px;
    }
}

/* Extra Small Devices (Portrait Phones & Smaller Devices) */
@media(min-width: 360px) and (max-width:384px){
    .cyso{
        font-size: 20px;
    }

    #chemical{
        font-size: 40px;
    }

    #elements{
        font-size: 40px;
    }

    .search{
        font-size: 20px;
    }

    .undraw {
        height: 80px;
    }

    .card1 {
        height: 250px;
    }

    .bgPic {
        height: 250px;
    }

    .text {
        top: 80px;
    }

    .elementName {
        top: 165px;
        font-size: 25px;
    }

    .elementType {
        top: 145px;
        font-size: 15px;
    }

    .card2 {
        width: 40px;
        height: 40px;
    }

    .tabIcon {
        font-size: 25px;
    }

    .tabIconName {
        font-size: 15px;
    }
}


/* Extra Small Devices (Portrait Phones & Smaller Devices) */
@media(min-width: 320px) and (max-width:360px){
    .cyso{
        font-size: 20px;
    }

    #chemical{
        font-size: 40px;
    }

    #elements{
        font-size: 40px;
    }

    .search{
        font-size: 20px;
    }

    .undraw {
        height: 80px;
    }

    .card1 {
        height: 250px;
    }

    .bgPic {
        height: 250px;
    }

    .text {
        top: 80px;
    }

    .elementName {
        top: 165px;
        font-size: 25px;
    }

    .elementType {
        top: 145px;
        font-size: 15px;
    }

    .card2 {
        width: 40px;
        height: 40px;
    }

    .tabIcon {
        font-size: 25px;
    }

    .tabIconName {
        font-size: 15px;
    }
}